$font-stack: Quicksand,
sans-serif;

/* ==========================================================================
   Layout Class
   ========================================================================== */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-stack !important;
    color: #515158;
    font-size: 13px;
    background-color: #eeeeee
}

h1,
h2,
h3,
h4,
p,
div,
span {
    font-family: 'Quicksand', sans-serif !important;
}


/* ==========================================================================
   Utilities Class
   ========================================================================== */

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.flex {
    flex: 1,
}


/* ==========================================================================
   Main Layout Class
   ========================================================================== */

#root {
    width: 100%;
    overflow: hidden;
}

.component-app {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0
}

.appbar {
    position: fixed !important;
    z-index: 2 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff !important
}

.drawerHeader {
    height: 65px
}

.icon-header { width: 30px; margin-right: 10px }

.avatar {
    background-color: #ffffff;
    width: 32px !important;
    height: 32px !important
}

.drawerBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 8px;
    border-top: 1px solid #e5e5e5;
    background-color: #edf0f2;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%
}

.btnToggle:hover {
    color: #ff6d00 !important
}

.selected {
    color: #ff6d00 !important
}

.drawerPaper {
    position: relative;
    z-index: 1 !important;
}

.drawerInner {
    height: 100%;
    width: 240px;
    z-index: 1 !important;
    color: #777777
}

.drawerInner svg {
    color: inherit
}

.drawerInner h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: inherit;
    font-weight: 500
}

.drawerInner li:hover {
    color: #ff6d00 !important
}

.drawerInnerClose {
    width: 60px;
    overflow-x: hidden
}

.btnNotification {
    margin-right: 10px
}

.lstMenu {
    margin: 0;
    padding: 0 !important;
}

.lstMenu a {
    text-decoration: none;
    color: #666666;
}

.lstMenu .selected a,
.lstMenu a:hover {
    color: #ff6d00
}

.lstTitle {
    padding-bottom: 0 !important
}

.lstTitle h3 {
    text-transform: none !important;
}

.drawerInner .lstTitle {
    display: block
}

.drawerInnerClose .lstTitle {
    display: none
}

.real-time {
    color: #999999
}

.real-time span {
    color: #F44336;
    font-weight: 500
}

.main-content {
    flex-grow: 1;
    background-color: #eeeeee;
    padding: 20px;
    height: 100%;
    margin-top: 65px;
    margin-left: 240px
}