$font-stack: Quicksand, sans-serif;

/* ==========================================================================
   Layout Class
   ========================================================================== */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    color: #515158;
    font-size: 13px;
    background-color: #eeeeee
}

h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif !important;
}


/* ==========================================================================
   Utilities Class
   ========================================================================== */

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.flex {
    flex: 1,
}


/* ==========================================================================
   Main Layout Class
   ========================================================================== */

#root {
    width: 100%;
}

.component-app { margin: 0 }

.avatar {
    background-color: #ffffff;
    width: 32px !important;
    height: 32px !important
}